
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0; 
    padding: 0;

}

:root{
    --cor-primaria: #F5F5DC;
    --cor-secundaria: #4C4C4C;
    --cor-terciaria: #87c159;

    --fonte-principal:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
    margin-top: 40px;
    overflow-x: hidden;
}

.cabecalho{
    padding:2% 0 0 15%;
}

.navegacao{
    display: flex;
    gap: 80px;
}

.conteudo_nav{
    color:var(--cor-terciaria);
    text-decoration: none;
    font-family:fon;
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao {
    padding: 2% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.conteudo{
    width: 50%; 
    display: flex;
    flex-direction:column;
    gap:40px;
    margin-bottom:3em;
}

.titulo{
    font-size:1.8rem;
    font-family: var(--fonte-principal);
}

.titulo-destaque {
    color:var(--cor-terciaria)
}

.paragrafo{
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
}

.botao{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    gap:32px;  
}

.subtitulo{
    font-family:var(--fonte-principal);
    font-weight:400;
    font-size:1rem;
}

.botao__aparencia{
    display: flex;
    justify-content:center;
    gap:16px;
    width:50%;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration:none;
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);  
    border: var(--cor-terciaria) 2px solid;
    transition: 0.3s;
    
}  

.botao__aparencia:hover{
    transform:scale(1.06);
}

i{
    color:var(--cor-terciaria) ;
}

.imagem{
    margin-left: 8%;
    width:40%;
}

.rodape{
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 14px;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.9rem;
    font-weight:400;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1200px){

    .navegacao{
        justify-content: center;
    }

    .cabecalho{
        padding:4% 
    }

    .apresentacao{
        flex-direction: column-reverse;
        align-items: center;
        padding:5%;
    }

    .conteudo{
        margin:3%;
        width: auto;

    }
    

}